
.indice {
    width: 60px;
    height: 60px;
    float: left;
    background-color: #510b0b;
    color: #ffffff;
    text-align: center;
    font-size: 17px;
    font-family: Arial;
    font-weight: bold;
    line-height: 350%;
    margin-right: 0.2%;
}

.button {
    border: none;
    display: inline-block;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.user_button {
    width: 60px;
    height: 60px;
    background-color: #510b0b;
    margin-left: 0.2%;
}

.user_button:hover {
    background-color: #280000;
}

.add_button {
    width: 60px;
    height: 60px;
    background-color: #931f1f;
}

.add_button:hover {
    background-color: #bf1616;
}

.user_list {
    background-color: #510b0b;
    border: none;
    float: left;
    margin-right: 0.2%;
    color: #ffffff;
    text-align: center;
    font-size: 17px;
    font-family: Arial;
    width: 350px;
    height: 60px;
    line-height: 350%;
    cursor: pointer;
}

.contenedor {
    background-color: #931f1f;
    font-family: Arial;
    color: #ffffff;
    width: 541px;
    margin-top: 0.2%;
}